@use './colors';

.btn-green {
    color: colors.$bg-white;
    background-color: colors.$bg-green;
    border-color: colors.$bg-green;
    border: 1px solid colors.$bg-green;

    &:hover {
        background-color: colors.$bg-bluedark;
        border: 1px solid colors.$bg-bluedark;
    }

    &:active {
        background-color: colors.$bg-bluedark;
        border: 1px solid colors.$bg-bluedark;
    }
}

.btn-search {
    border: none;
    outline: none;
    color: colors.$bg-white;

    &:focus {
        border: none;
        outline: none;
        color: colors.$bg-green;
    }

    &:active {
        border: none;
        outline: none;
        color: colors.$bg-green;
    }
}

.btn-add {
    border: none;
    outline: none;
    color: colors.$bg-white;
    background-color: colors.$bg-green;

    &:hover {
        color: colors.$bg-white;
        background: #318550;
    }

    &:focus {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }

    &:active {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }
}
.btn-del {
    border: none;
    outline: none;
    color: colors.$bg-white;
    background-color: colors.$bg-red;

    &:hover {
        color: colors.$bg-white;
        background: #ca0404;
    }

    &:focus {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #ca0404;
    }

    &:active {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #ca0404;
    }
}

.btn-prev {
    border: none;
    outline: none;
    color: colors.$bg-white;
    background-color: colors.$bg-green;
    border-radius: 50%;

    &:hover {
        color: colors.$bg-white;
        background: #318550;
    }

    &:focus {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }

    &:active {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }
}

.btn-print {
    border: none;
    outline: none;
    color: colors.$bg-white;
    background-color: colors.$bg-green;

    &:hover {
        color: colors.$bg-white;
        background: #318550;
    }

    &:focus {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }

    &:active {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }
}

.btn-next-list {
    border: none;
    outline: none;
    color: colors.$bg-white;
    background-color: colors.$bg-green;

    &:hover {
        color: colors.$bg-white;
        background: #318550;
    }

    &:focus {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }

    &:active {
        border: none;
        outline: none;
        color: colors.$bg-white;
        background: #318550;
    }
}

.btn-default {
    background: transparent;
    border: none;
    padding-left: 4px;
    padding-right: 4px;

    &:hover {
        outline: none;
        border: none;
    }

    &:active {
        outline: none;
        border: none;
    }
}

.btn-filter {
    min-width: 150px;
    height: 40px;
    border: 1px solid colors.$bg-marronwhite;
    border-radius: 20px;
    margin: 6px;
    margin-top: 6px;
    font-size: 1rem;
    color: colors.$bg-marrondark;

    &:hover {
        border: 1px solid colors.$bg-green;
        color: colors.$bg-white;
        background-color: colors.$bg-green;
    }

    &:active {
        border: 1px solid colors.$bg-green;
        color: colors.$bg-white;
        background-color: colors.$bg-green;
    }

}

.btn-login {
    color: colors.$bg-white;
    background-color: colors.$bg-green;
    border-color: colors.$bg-green;
    border: 1px solid colors.$bg-green;

    &:hover {
        color: colors.$bg-white;
        background-color: #318550;
        border: 1px solid #318550;
    }

    &:active {
        color: colors.$bg-white;
        background-color: #318550;
        border: 1px solid #318550;
    }
}

.active {
    border: 1px solid colors.$bg-green;
    color: colors.$bg-white;
    background-color: colors.$bg-green;
}