@use './colors';

.mh-100 {
    min-height: 100%;
}

// Aplica quando o filtro é ativado
.active-filter {
    display: flex !important;
}

// Aplica bordar
.border-bottom-default {
    border-bottom: 1px solid colors.$bg-marrondark;
    border-radius: 0.8px;
}